		{{! Commentaire : on affiche les infos de l'utilisateur connecté }}
		<blockquote style="display:none;">
			<p>You are connected, so you can access this page.</p>
			<small><cite title="user" id="user_type" data-user_type="{{user.type}}">{{user.type}}'s user : </cite><cite title="user" id="user_login" data-user_login="{{user.login}}">{{user.login}}</cite>&nbsp;&nbsp;| User ID : <cite id="user_id" data-user_id="{{user.id}}">{{user.id}}</cite> </small>
		</blockquote>
	

		<ol class="breadcrumb">
			<li><a href="/home">Home</a></li>
			<li><a href="/home">Conferences</a></li>
			<li class="active conf-title"></li>
		</ol>

		<div class="conference-header">
			<div class="conference-header-left">
				<h1 class="conf-title"></h1>
				<h2 id="conf-id" data-conference_id="" data-conference_id_ieee="{{conference.id}}"><b>ID : </b>{{conference.id}}</h2>
				<p id="conf-location"><b>Location : </b></p>
				<p id="conf-date"><b>Date : </b></p>
			</div>
			<div class="conference-header-right">
				<h3>Progression :</h3>
				<div class="progress progress-striped">
		            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
		                <!--<span class="sr-only">40% Complete (success)</span>-->
		            </div>
		            <span class="progress-completed">0%</span>
		        </div>
				<button type="button" class="btn btn-warning" style="width:100%;"><span class="glyphicon glyphicon-pencil"></span>Edit conference</button>
			</div>
		</div>

		<div id="tcs_warning" class="alert alert-danger" style="display:none;">
			The technical commitees didn't validate your conference yet... You need three validations, otherwise you will not be able to continue to prepare your conference.
			<ul id="tcs_warning_list"></ul>
		</div>

		<ul class="red-wire"></ul>


		<div id="task-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="task-modal-title" class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body" id="task-modal-body">
						<p id="task-modal-body-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus magna. Aenean metus neque, ultricies dictum purus id, porta imperdiet augue. Quisque vel risus eget metus accumsan sagittis. Morbi commodo blandit interdum. Curabitur ultrices auctor lorem. Vivamus quis volutpat nisi. Donec pretium ante et dolor tempus faucibus.</p>						

						<div class="panel panel-default" id="task-modal-link">
							<div class="panel-heading">
								<h3 class="panel-title">Link to IEEE form</h3>
							</div>
							<div class="panel-body">
								<a href="#">https://www.google.fr/</a>
							</div>
						</div>

						<div class="panel panel-default" id="task-modal-upload">
							<div class="panel-heading">
								<h3 class="panel-title">File input :</h3>
							</div>
							<div class="panel-body">
								<div style="position:relative;" id="task-modal-upload-input">
									<a class='btn btn-primary' href='javascript:;' style="cursor:pointer;">
							            Choose File...
							            <input type="file" id="task_file_upload" class="file_upload" name="file_source" size="40">
							        </a>
							        <span class='label label-info' id="upload-file-info"></span>
						        	<div class="progress wrap_upload_progress" id="wrap_upload_progress">
										<div id="upload_progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
										</div>
									</div>
							    </div>
							    <div id="task-modal-uploaded">
									This file has been uploaded.
								</div>
							</div>
						</div>

					</div>

					<div class="modal-footer">
						<div id="modal-footer-validated">Task already validated<span class="glyphicon glyphicon-ok" style="margin-left:10px;"></span></div>
						<div id="modal-footer-buttons">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary" id="task-modal-validate"><span class="glyphicon glyphicon-ok"></span>Validate the task</button>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="error-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="error-modal-title" class="modal-title">Error Title</h4>
					</div>
					<div class="modal-body" id="error-modal-body">
						<p></p>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="tuto-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tuto-modal-title" class="modal-title">Tutorials</h4>
					</div>
					<div class="modal-body" id="tuto-modal-body">
						
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="tool-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="tool-modal-title" class="modal-title">Tools</h4>
					</div>
					<div class="modal-body" id="tool-modal-body">
						
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="task-tooltip" class="tooltip top">
			<div class="tooltip-inner">
				Some tooltip text!
			</div>
			<div class="tooltip-arrow"></div>
		</div>




		<!-- <button type="button" id="notif_button" class="btn btn-default" data-container="body" data-toggle="popover">
  			Test Notifications
		</button>

		<div id="notifExampleHiddenContent">
			<div class="notif_item">
				<div class="notif_left"><img src="../../img/profil.png" /></div>
				<div class="notif_right">
					<p><b>John Doe</b> a achevé le Node n°3 de la <b>Conférence Mexico Tech</b></p>
					<p class="date">16/03, à 13h35</p>
				</div>
			</div>
			<div class="notif_item">
				<div class="notif_left"><img src="../../img/profil.png" /></div>
				<div class="notif_right">
					<p><b>John Doe</b> a achevé le Node n°3 de la <b>Conférence Mexico Tech</b></p>
					<p class="date">16/03, à 13h35</p>
				</div>
			</div>
			<div class="notif_item">
				<div class="notif_left"><img src="../../img/profil.png" /></div>
				<div class="notif_right">
					<p><b>John Doe</b> a achevé le Node n°3 de la <b>Conférence Mexico Tech</b></p>
					<p class="date">16/03, à 13h35</p>
				</div>
			</div>
			<div class="notif_item">
				<div class="notif_left"><img src="../../img/profil.png" /></div>
				<div class="notif_right">
					<p><b>John Doe</b> a achevé le Node n°3 de la <b>Conférence Mexico Tech</b></p>
					<p class="date">16/03, à 13h35</p>
				</div>
			</div>
		</div> -->

		<div id="new-conference-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="new-conference-modal-title" class="modal-title">Create new conference</h4>
					</div>
					<div class="modal-body" id="new-conference-modal-body">
						
						<label for="new-id-ieee">ID IEEE</label>
    					<input type="text" class="form-control" id="new-id-ieee">

    					<label for="new-title">Title</label>
    					<input type="text" class="form-control" id="new-title">

    					<label for="new-acronym">Acronym</label>
    					<input type="text" class="form-control" id="new-acronym">

    					<div class="row">
						  <div class="col-md-6">
						  	<label for="new-start-date">Start Date</label>
    						<input type="datetime-local" class="form-control" id="new-start-date">
						  </div>
						  <div class="col-md-6">
						  	<label for="new-end-date">End Date</label>
    						<input type="datetime-local" class="form-control" id="new-end-date">
						  </div>
						</div>

						<label for="new-adress">Adress</label>
    					<form id="new-adress-geocodify"></form>

    					<label for="new-description">Description</label>
    					<textarea class="form-control" rows="3" id="new-description"></textarea>

						<label for="new-model">Model</label>
    					<select id="new-model" class="form-control">
						  <option value="1">Financial</option>
						  <option value="2">Technical</option>
						</select>

    					<label>Technical Committees</label>
    					<div id="wrap_tc" class="row checkboxes">

							<div class="col-md-4">
		    					<div class="checkbox">
									<label>
										<input id="tc1" type="checkbox" value="3">
										Analog Signal Processing
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc2" type="checkbox" value="5">
										Biomedical and Life Science Circuits and Systems
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc3" type="checkbox" value="6">
										Cellular Nanoscale Networks and Array Computing
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc4" type="checkbox" value="7">
										Circuits & Systems for Communications
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc5" type="checkbox" value="8">
										Circuits and Systems Education and Outreach
									</label>
								</div>
							</div>
							<div class="col-md-4">
		    					<div class="checkbox">
									<label>
										<input id="tc6" type="checkbox" value="9">
										Computer-Aided Network Design
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc7" type="checkbox" value="10">
										Digital Signal Processing
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc8" type="checkbox" value="11">
										Multimedia Systems & Applications
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc9" type="checkbox" value="12">
										Nanoelectronics and Gigascale Sys
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc10" type="checkbox" value="13">
										Neural Systems & Applications
									</label>
								</div>
							</div>
							<div class="col-md-4">
		    					<div class="checkbox">
									<label>
										<input id="tc11" type="checkbox" value="14">
										Nonlinear Circuits & Systems
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc12" type="checkbox" value="15">
										Power and Energy Circuits and Systems
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc12" type="checkbox" value="16">
										Sensory Systems
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc13" type="checkbox" value="17">
										Visual Signal Processing & Communications
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc14" type="checkbox" value="18">
										VLSI Systems & Applications
									</label>
								</div>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" id="new-conference-validate"><span class="glyphicon glyphicon-ok"></span>Create conference</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
