		<ol class="breadcrumb" style="text-align:right;">
			<li><a href="/logout">Logout</a></li>
		</ol>

		{{! Commentaire : on affiche les infos de l'utilisateur connecté }}
		<blockquote>
			<p>You are connected, so you can access this page.</p>
			<small><cite title="user" id="user_type" data-user_type="{{user.type}}">{{user.type}}'s user : </cite><cite title="user" id="user_login" data-user_login="{{user.login}}">{{user.login}}</cite>&nbsp;&nbsp;| User ID : <cite id="user_id" data-user_id="{{user.id}}">{{user.id}}</cite> </small>
		</blockquote>


		<div class="btn-group" style="margin-bottom:20px;">
			<button type="button" class="btn btn-default active">List View</button>
			<button type="button" class="btn btn-default"><a href="/calendar">Calendar View</a></button>
		</div>

		<div id="conferences-wrap"></div>
