<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<title>IEEE-CAS</title>
		
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="../../css/main.css">
		<link href='../../lib/FullCalendar/fullcalendar.css' rel='stylesheet' />
		<link rel="stylesheet" type="text/css" href="../../css/login.css">

		

		<!-- libs -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/bootstrap.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<script type="text/javascript" src="../../js/new_conf.js"></script>
		<script type="text/javascript" src="../../js/calendar.js"></script>
		<script type="text/javascript" src="../../lib/FullCalendar/fullcalendar.js"></script>

		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- These next two you should host by yourself in production -->
		<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/latimes-datadesk-template/css/jquery.geocodify-2.0.css"/>
		<script type="text/javascript" src="https://s3.amazonaws.com/latimes-datadesk-template/js/jquery.geocodify-0.2-min.js"></script>
		
		
		
	</head>
	<body>
		<!-- Fixed navbar -->
	    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container" style="width:100%;">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">IEEE-CAS</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="/home">Home</a></li>
	            <li><a id="new-conference-btn">Create New Conference</a></li>
	            <li><a href="#contact">Contact</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Action</a></li>
	                <li><a href="#">Another action</a></li>
	                <li><a href="#">Something else here</a></li>
	                <li class="divider"></li>
	                <li class="dropdown-header">Nav header</li>
	                <li><a href="#">Separated link</a></li>
	                <li><a href="#">One more separated link</a></li>
	              </ul>
	            </li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
		        <li><a href="/logout">Logout</a></li>
		      </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
		
		<div class="container" style="width:100%; margin-top:70px;">	
			<!-- Rendu de la vue demandée. Ex : res.render('maVue') => yield = maVue.html -->
			{{{ yield }}}
		</div>

		<div id="new-conference-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 id="new-conference-modal-title" class="modal-title">Create new conference</h4>
					</div>
					<div class="modal-body" id="new-conference-modal-body">
						
						<label for="new-id-ieee">ID IEEE</label>
    					<input type="text" class="form-control" id="new-id-ieee">

    					<label for="new-title">Title</label>
    					<input type="text" class="form-control" id="new-title">

    					<label for="new-acronym">Acronym</label>
    					<input type="text" class="form-control" id="new-acronym">

    					<div class="row">
						  <div class="col-md-6">
						  	<label for="new-start-date">Start Date</label>
    						<input type="datetime-local" class="form-control" id="new-start-date">
						  </div>
						  <div class="col-md-6">
						  	<label for="new-end-date">End Date</label>
    						<input type="datetime-local" class="form-control" id="new-end-date">
						  </div>
						</div>

						<label for="new-adress">Adress</label>
    					<form id="new-adress-geocodify"></form>

    					<label for="new-description">Description</label>
    					<textarea class="form-control" rows="3" id="new-description"></textarea>

    					<label>Technical Committees</label>
    					<div id="wrap_tc" class="row checkboxes">
							<div class="col-md-4">
		    					<div class="checkbox">
									<label>
										<input id="tc1" type="checkbox" value="AAa">
										Technical comitee 1
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc2" type="checkbox" value="dede">
										Technical comitee 2
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc3" type="checkbox" value="err">
										Technical comitee 3
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc4" type="checkbox" value="">
										Technical comitee 4
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc5" type="checkbox" value="">
										Technical comitee 4
									</label>
								</div>
							</div>
							<div class="col-md-4">
		    					<div class="checkbox">
									<label>
										<input id="tc6" type="checkbox" value="">
										Technical comitee 1
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc7" type="checkbox" value="">
										Technical comitee 2
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc8" type="checkbox" value="">
										Technical comitee 3
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc9" type="checkbox" value="">
										Technical comitee 4
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc10" type="checkbox" value="">
										Technical comitee 4
									</label>
								</div>
							</div>
							<div class="col-md-4">
		    					<div class="checkbox">
									<label>
										<input id="tc11" type="checkbox" value="">
										Technical comitee 1
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc12" type="checkbox" value="">
										Technical comitee 2
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc12" type="checkbox" value="">
										Technical comitee 3
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc13" type="checkbox" value="">
										Technical comitee 4
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="tc14" type="checkbox" value="">
										Technical comitee 4
									</label>
								</div>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" id="new-conference-validate"><span class="glyphicon glyphicon-ok"></span>Create conference</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		// Connexion à socket.io
    	var socket = io.connect('http://localhost:8080');
    </script>

</html>