<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<title>IEEE-CAS</title>
		
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="../../css/main.css">
		<link href='../../lib/FullCalendar/fullcalendar.css' rel='stylesheet' />
		<link rel="stylesheet" type="text/css" href="../../css/login.css">

		

		<!-- libs -->
		<script type="text/javascript" src="../../lib/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/bootstrap.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<script type="text/javascript" src="../../js/new_conf.js"></script>
		<script type="text/javascript" src="../../js/calendar.js"></script>
		<script type="text/javascript" src="../../lib/FullCalendar/fullcalendar.js"></script>

		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- These next two you should host by yourself in production -->
		<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/latimes-datadesk-template/css/jquery.geocodify-2.0.css"/>
		<script type="text/javascript" src="https://s3.amazonaws.com/latimes-datadesk-template/js/jquery.geocodify-0.2-min.js"></script>
		
		
		
	</head>
	<body>
		<!-- Fixed navbar -->
	    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container" style="width:100%;">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">IEEE-CAS</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="/home">Home</a></li>
	            <li><a id="new-conference-btn" href="#">Create New Conference</a></li>
	            <!-- <li><a href="#contact">Contact</a></li> -->
	            <!-- <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Action</a></li>
	                <li><a href="#">Another action</a></li>
	                <li><a href="#">Something else here</a></li>
	                <li class="divider"></li>
	                <li class="dropdown-header">Nav header</li>
	                <li><a href="#">Separated link</a></li>
	                <li><a href="#">One more separated link</a></li>
	              </ul>
	            </li> -->
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
		        <li><a href="/logout">Logout</a></li>
		      </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
		
		<div class="container" style="width:100%; padding-top:70px;">	
			<!-- Rendu de la vue demandée. Ex : res.render('maVue') => yield = maVue.html -->
			{{{ yield }}}
		</div>

	</body>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		// Connexion à socket.io
    	var socket = io.connect('http://localhost:8080');
    </script>

</html>