<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<title>IEEE-CAS</title>
		
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="../../css/main.css">
		<link href='../../lib/FullCalendar/fullcalendar.css' rel='stylesheet' />

		

		<!-- libs -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/bootstrap.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<script type="text/javascript" src="../../js/new_conf.js"></script>
		<script type="text/javascript" src="../../js/calendar.js"></script>
		<script type="text/javascript" src="../../lib/FullCalendar/fullcalendar.js"></script>

		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- These next two you should host by yourself in production -->
		<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/latimes-datadesk-template/css/jquery.geocodify-2.0.css"/>
		<script type="text/javascript" src="https://s3.amazonaws.com/latimes-datadesk-template/js/jquery.geocodify-0.2-min.js"></script>
		
		
		
	</head>
	<body>
			
		<!-- Rendu de la vue demandée. Ex : res.render('maVue') => yield = maVue.html -->
		{{{ yield }}}

	</body>

	<script src="/socket.io/socket.io.js"></script>

</html>