		{{! Commentaire : on affiche les infos de l'utilisateur connecté }}
		<blockquote style="display:none;">
			<p>You are connected, so you can access this page.</p>
			<small><cite title="user" id="user_type" data-user_type="{{user.type}}">{{user.type}}'s user : </cite><cite title="user" id="user_login" data-user_login="{{user.login}}">{{user.login}}</cite>&nbsp;&nbsp;| User ID : <cite id="user_id" data-user_id="{{user.id}}">{{user.id}}</cite> </small>
			<h2 id="conf-id" data-conference_id="" data-conference_id_ieee="{{conference.id}}"><b>ID : </b>{{conference.id}}</h2>
		</blockquote>

		<div class="btn-group" style="margin-bottom:20px;">
			<button type="button" class="btn btn-default active" id="show_list">List View</button>
			<button type="button" class="btn btn-default" id="show_calendar">Calendar View</button>
		</div>
		
		<div id="calendar"></div>
		<div id="conferences-wrap"></div>

		